---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Typography from '../components/Typography.astro';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <Typography />
</head>
<body>
    <header>
        <Header />
    </header>
    <nav class="nav-bar" id="nav-bar">
        <Navigation />
    </nav>
    <h1>10+ Years of Experience</h1>
    <footer>
        <Footer />
    </footer>
<script>
    import "../scripts/menu.js";
</script>
</body>
</html>