---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Icons from "../components/Icons.astro";
import Navigation from "../components/Navigation.astro";
import Typography from "../components/Typography.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-YW32M1YBE1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-YW32M1YBE1");
        </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <Typography />
        <Icons />
        <style>
            .company-img {
                width: 95%;
                border-radius: 0.2em;
            }
        </style>
    </head>
    <body>
        <header>
            <Header />
        </header>
        <nav class="nav-bar" id="nav-bar">
            <Navigation />
        </nav>
        <h1>10+ Years of Experience</h1>
        <main>
            <img src="/cnh-trailer.png" alt="Cnh trailer" class="company-img" />
        </main>
        <footer>
            <Footer />
        </footer>
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
