---
import { ACTION_ERROR_CODES } from 'astro:actions';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Typography from '../components/Typography.astro';
import Footer from '../components/Footer.astro';
import Icons from '../components/Icons.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CNH Construction</title>
		<Typography />
		<Icons />
		<style>
			.image-container {
				background-image: url("/hero.jpg");
				width: 100%;
				height: 25em;
				background-position: bottom;
				background-repeat: no-repeat;
				background-size:cover;
			}
			.brand-intro {
				color: var(--clr-light);
			}
			.brand-img {
				width: 100%;
				height: 20em;
				object-fit: cover;
				margin: 0 auto;
				/* box-shadow: 0px 0px 1px #fff; */
				padding: .3em;
			}
			.schedule-cta {
				margin: .3em auto;
				font-size: var(--fs-h1);
				font-family: var(--ff-secondary);	
				font-weight: 800;
				border: 2px solid var(--clr-light);
				border-radius: 6px;
				padding: .3em 0;
			}
			</style>
	</head>
	<body>
		<header>
			<Header />
		</header>
			<nav class="nav-bar" id="nav-bar">
				<Navigation />
			</nav>
		<main>
			<section class="hero" id="home-hero">
				<div class="image-container">
				</div>
				<h1>Concrete Solutions,
					<span class="highlight"> Tailored to Your Vision.</span>
				</h1>
					<button class="schedule-cta">
						<a href="tel:+2146610781">
							<i class="fa-solid fa-calendar-days" 
							style="color: var(--clr-light); display: block;">
							</i>
							Schedule a Constultation
						</a>
					</button>
			</section>
			<section class="brand-section">
				<div class="brand-intro">
					<div class="about-us-el">
						<h1>About Us</h1>
						<p>
							CNH Decorative Concrete is a leading provider of decorative concrete solutions in Arlington, TX.
						</p>
						<img
						 src="/arlington-globe-life.jpg" alt="Arlington Texas Rangers Stadium" class="brand-img"
						 >
						 <p>
							With 10+ years of experience and a commitment to quality, we've earned a reputation for excellence in the DFW and surrounding areas.
						 </p>
					</div>
					<div class="specialization-el">
						<h1>Transform Surfaces</h1>
						<img src="/epoxy-floor.jpg" alt="Men polishing floor" class="brand-img">
						<p>
							We specialize in transforming concrete surfaces with a range of innovative treatments. Our services include epoxy flooring installation, floor coating removal, sealed concrete, polyurea joint filler, concrete staining, and concrete polishing.
						</p>
					</div>
					<h1>Our Mission</h1>
					<p>
						At CNH, we're committed to delivering top-quality decorative concrete solutions at competitive prices. 
					</p>
					<img src="sanding-epoxy.jpg" alt="Young man sanding epoxy" class="brand-img">
					<p>
						Our dedication to customer satisfaction has been the cornerstone of our success. Contact us today to learn more about our stained and polished concrete options, as well as our other comprehensive services.
					</p>
				</div>
			</section>
		</main>
		<footer>
			<Footer />
		</footer>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
