---
import { ACTION_ERROR_CODES } from 'astro:actions';
import '../styles/global.css';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Typography from '../components/Typography.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CNH Construction</title>
		<Typography />
		<style>
			.image-container {
				background-image: url("/hero-image1.jpg");
				width: 100%;
				height: 25em;
				background-position: bottom;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.hero {
				border-bottom: .3rem solid var(--clr-accent);
			}
			</style>
	</head>
	<body>
		<header>
			<Header />
		</header>
			<nav class="nav-bar" id="nav-bar">
				<Navigation />
			</nav>
		<main>
			<section class="hero" id="home-hero">
				<div class="image-container">
				</div>
				<h1>Concrete Solutions, Tailored to Your Vision.</h1>
			</section>
			<section class="brand-section">
				<div class="brand-intro">
					<p>
						CNH Decorative Concrete is a Concrete Contractor & Concrete Company located in Arlington TX and has been servicing all of Arlington and the surrounding areas for many years. 
					</p>
					<p>
						We specialize in Epoxy Flooring Installation, Floor Coating Removal, Sealed Concrete, Polyurea Joint Filler, Concrete Staining, & Concrete Polishing
					</p>
					<p>
						Here at CNH, our mission is to always provide quality service at an affordable price. The success of our company is due to the dedication we provide to our customers. 
						Call us today and ask about our stained and polished concrete options and other services.
					</p>
				</div>
			</section>
		</main>
		<footer>
			<Footer />
		</footer>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
