<div class="footer-logo">

</div>
<div class="footer-contact">
    <!-- <h3 class="title">Cnh</h3> -->
    <img src="/cnh-logo-nobg.png" alt=" " class="footer-logo">
    <h3>Follow on Social Media</h3>
    <h2>
        <i class="fa-brands fa-facebook" style="color: var(--clr-accent);"></i>
        <i class="fa-brands fa-instagram" style="color: var(--clr-accent);"></i>
        <i class="fa-brands fa-whatsapp" style="color: var(--clr-accent);"></i>
        <i class="fa-brands fa-yelp" style="color: var(--clr-accent)"></i>
    </h2>
    <h3>Email</h3>
    
</div>