<div class="footer-logo">

</div>
<div class="footer-contact">
    <img src="/cnh-logo-nobg.png" alt=" " class="footer-logo">
    <h3>Contact Us Today</h3>
    <h4>cnhdecorative@gmail.com (214) 661-0781</h4>
    <h3>Follow on Social Media</h3>
    <h2>
        <i class="fa-brands fa-facebook" style="color: var(--clr-accent);"></i>
        <i class="fa-brands fa-instagram" style="color: var(--clr-accent);"></i>
        <i class="fa-brands fa-whatsapp" style="color: var(--clr-accent);"></i>
        <i class="fa-brands fa-yelp" style="color: var(--clr-accent)"></i>
    </h2>
    <p>CNH Decorative Concrete, LLC</p>
</div>