<h1 class="title">
    <a href="/">CNH Decorative Concrete </a>
</h1>
<div class="hamburger-menu" id="hamburger-menu">
    <div class="ham-bar bar-top"></div>
    <div class="ham-bar bar-mid"></div>
    <div class="ham-bar bar-bottom"></div>
</div>