<a href="#" class="business-name nav-items">
    <img src="cnh-dc-logo.png" alt="cnh logo" class="logo-img">
</a>
<ul class="nav-list">
    <li class="nav-items">
        <a href="/">
        Home
        </a>
    </li>
    <li class="nav-items">
        <a href="/services/">
        Services
        </a>
    </li>
    <li class="nav-items">
        <a href="/about/">
        About
        </a>
    </li>
    <li class="nav-items">
        <a href="/contact/">
        Contact
        </a>
    </li>
    <li class="nav-items">
        <a href="/gallery/">
        Gallery
        </a>
    </li>
</ul>
<div class="contact-cta nav-items">
    <h2 class="call-now-cta">Contact Us</h2>
    <h3><a href="https://example.com/">(214) 661-0781</a></h3>
    <h3 class="call-now-cta">cnhdecorative</h3>
</div>